includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: true

  paths:
    - .

  excludePaths:
    - vendor

  scanFiles:
    - vendor/mautic/grapes-js-builder-bundle/Entity/GrapesJsBuilder.php
    - vendor/mautic/grapes-js-builder-bundle/Entity/GrapesJsBuilderRepository.php
    - vendor/mautic/grapes-js-builder-bundle/Model/GrapesJsBuilderModel.php

  ignoreErrors:
    - message: '#^Method Mautic\\CoreBundle\\Event\\CustomButtonEvent::addButton\(\) invoked with 4 parameters, 1-3 required\.$#'
      paths:
        - EventListener/ButtonSubscriber.php
