name: Mautic Plugin tests

on:
  push:
    branches:
      - 'main'
      - 'feature/*'
  pull_request:

jobs:
  phpunit:
    runs-on: ubuntu-latest
    name: run cs and phpstan

    steps:
      
      - name: Checkout this plugin
        uses: actions/checkout@v4

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          ini-values: -dpcov.enabled=0, pcov.directory=."
          extensions: mbstring, xml, ctype, iconv, intl, pdo_sqlite, mysql, pdo_mysql
          coverage: pcov
          
      - name: Install Composer dependencies
        run: composer install
        
      - name: Run Code Style check
        run: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php -v --dry-run --show-progress=dots --diff

      - name: PHPSTAN
        run: ./vendor/bin/phpstan --no-progress
